main {
  width: 90%;
  margin: 4rem auto;
}

.heading {
  h1 {
    color: $Very-Dark-Magenta;
    text-align: center;
    line-height: 1;
  }
  p {
    text-align: center;
    color: $Dark-Grayish-Magenta;
    font-weight: 500;
    margin: 1.5rem 0;
  }
}

.ratings {
  margin: 2.5em auto;

  .rating-card {
    background: $Light-Grayish-Magenta;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1em 2em;
    text-align: center;
    .stars {
      margin-bottom: 0.5rem;
    }
    p {
      color: $Very-Dark-Magenta;
      font-weight: bold;
    }
  }
}

// Reviews

.reviews {
  .card {
    background: $Very-Dark-Magenta;
    padding: 2em 2em;
    margin: 1rem auto;
    width: 100%;
    border-radius: 0.5rem;
    .card-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        border-radius: 50%;
        width: 20%;
        max-width: 80px;
        height: 20%;
        max-height: 80px;
        margin-right: 1rem;
      }
      .label {
        h4 {
          color: white;
          margin-bottom: 0.25rem;
        }
        p {
          color: $Soft-Pink;
        }
      }
    }

    .card-body {
      color: $Light-Grayish-Magenta;
      padding-top: 1em;
    }
  }
}
